*{
    margin: 0;
    padding: 0;
}

:root{

    /* Fonts */
    --font-one: "Inter", sans-serif;

    /* Color */
    --colorOne: #00A86B;
    --colorTwo: #000000;
    --colorThree: #F2EAE0;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: var(--colorOne);
  
}

.logo {
    width: 100px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: var(--font-one);
    font-size: 1rem;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--colorTwo);
}

.main {
     display: flex; 
}

/* SIDENAV */
.sidenav {
    font-family: var(--font-one);
    font-size: 1.5rem;
    width: 10%;
    background:linear-gradient(rgba(0, 128, 0, 0.4), rgba(0, 128, 0, 0.4)), url(/img/chat.jpg);
    
    padding: 20px;
    height: 200vh;
    display: flex; 
    flex-direction: column;
}

.sidenav a{
    text-decoration: none;
    color: black;
    padding: 10px;
}

.sidenav a:hover {
    color: gold;
}

/* Send Message */

.send-chat-container {
  width:  80%;
  margin: 50px auto;
}

.send-message {
  display: flex;
  gap: 10px;
}

.message-area {
  flex: 1;
  resize: none;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--colorThree);
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}

.message-area:focus {
  border-color: var(--colorOne);
  box-shadow: 0 0 5px rgba(10, 221, 6, 0.3);
}

.chat-send-button {
  padding: 0 20px;
  border: none;
  border-radius: 12px;
  background: var(--colorOne);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.chat-send-button:hover {
  background:  var(--colorOne);
}




/* CHATBOX */
.chat-container {
  width: 100%; 
  background-image: url(/img/chat.jpg);
  
  /* background-color: rgba(0, 0, 0, 0.843); */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chat-box{
  width: 90%;
  max-width: 320px;
  background: var(--colorOne);
  border-radius: 30px;
  padding: 25px;
  position: relative;
  margin: 50px auto;
  color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.header-picture {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--font-one);
  font-size: 1rem;
}

.comments-chat {
  margin: 20px 0;
  font-size: 1rem;
  line-height: 1.4;
}


.profile-picture{
   width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 100px;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
   background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  transition: 0.2s;
}

.close-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.actions input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
}

.actions {
  display: flex;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 8px;
}

.actions input:focus {
  box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
}

.count {
  font-weight: bold;
}



/* FOOTER */

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #00A86B;
   color: white;
   text-align: center;
}



